body {
    background-color: #2088d0;
    color: white;
    font-family: Montserrat;
    margin: 0;
}
.disc {
  background-color: white;
  color: #2088d0;
    display: flex;
    height: 250px;
    justify-content: center;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
}
.disc h1 {
    font-size: 45px;
    width: 500px;
    text-align: center;
    margin-right: 0;
}
.articles {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  height: 390px;
}
.art {
  width: 30% !important;
  border-radius: 2%;
  text-align: center;
  background-color: white;
  color: #2088d0;
  padding: 15px;
  height: 200px;
  font-size: 12px;
  margin: 5%;
}
button {
    border: 0;
    height: 50px;
    width: 100px;
    background-color: #2088d0;
    border-radius: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
a {
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: Montserrat;
    text-decoration: none;
}
.art p{
  margin-top: 20px;
  margin-bottom: 15px;
}
img {
    margin-left: 10%;
    width: 300px;
    height: 200px;
}
.forms{
    padding: 100px;
    background-color: white !important;
    color: #2088d0 !important;
}
footer {
    display: flex;
    height: 50px;
    margin: auto 0 20px 0;
    z-index: 200;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: static;
}
i {
    padding: 20px;
}
.terms {
  color: #2088d0;
  text-decoration: underline;
}
